.card {
  border: 2px solid hsla(164, 70%, 64%, 0.824);
  overflow: hidden;
  background: #1F0A4D;
  width: 265px;
  height: 550px;
}

.cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.cover-wrapper {
  position: relative;
  display: inline-block;
  height: 67%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 94%;         
  left: 0;
  width: 100%;
  height: 7%;
  display: flex;  
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.4); 
  color: white;
  font-size: 14px;
  font-weight: 400;
  backdrop-filter: blur(6px);
}

.store-cover {
  height: 75%;
}



.info {
  padding: 0.75rem;
  font-size: 0.75rem;
  height: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info p {
  margin: 0.1rem 0;
}

.info .title {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.price {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.original {
  color: #cacaca;
}

.original-number {
  text-decoration: line-through;
  color: #cacaca;
}

.region {
  color: hsla(164, 70%, 64%);
  font-weight: bold;
}

.discount {
  color: #7BD923;
  font-weight: bold;
}

.final {
  font-size: 1.3rem;
  font-weight: bold;
}

.cashback {
  font-weight: bold;
  color: #7BD923;
}

.likes {
  color: #cacaca;
}

.like-icon {
  filter: brightness(0) saturate(100%) invert(60%) sepia(100%) hue-rotate(250deg);
  height: 1rem;
  margin-right: 0.3rem;
  vertical-align: middle;
}