.grid-container {
  width: 100%;
  padding: 1rem 1rem;
}

.grid {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  gap: 1.2rem;
  width: 100%;
  justify-content: center;
}

.results-count {
  margin-bottom: 1rem;
}