.navbar {
  width: 1138px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
  color: white;
  margin-top: 1.5rem;
}

.container {
  display: flex;
  align-items: center;   
  gap: 1.2rem;     
  width: auto;        
}

.container .container {
  display: flex;
  align-items: center;   
  gap: 0.4rem;             
}

.flag {
  height: 18px;
}

.icon {
  height: 23px;
  filter: brightness(0) saturate(100%) invert(90%) sepia(100%) hue-rotate(250deg);
}

.user-icon {
  height: 30px;
  border-radius: 50%; 
  border: 1px solid white; 
}

.logo {
  height: 55px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}
